//breakpoints
$sm: 320px;
$tb: 768px;
$ds: 1170px;

// colors
$black: black;
$white: white;
$red: red;
$green: green;

$basicgray: #262626;
$basicgray1: #848484;
$basicgray2: #333333;
$basicgray3: #2A2A2A;
$basicgray4: #B1B1B1;
$basicgreen: #00CCAA;
$basicpurple: #AC2ED9;
